@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* criação do degradê e definição da sua cor */
body {
  background: #ffb719;
  background: linear-gradient(180deg, #ffb719 15%, rgba(255,255,255,1) 85%);
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* definição do tamanho e posição das caixas de texto */
form {
  width: 350px;
  position: relative;
}
/* posição e formato das caixas de texto */
form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}


form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}
/* posição e formato do botão "entrar" */
form .btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #ffb719;
  color: #000;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}
/* posição e formato do logo MRV na tela */
img {
    height: 5em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 19%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* definição de cor das lebels */
label {
    font-size: large;
    color: black;
}
/* mensagem de realização de cadastro, caso não tenha */
p {
  height: 5em;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* cor do botão de entrar */
.btn-color {
    color: #ffb719;
}
/* criação da resposividade */
@media screen and (max-width: 520px) {
    form {
        width: 250px;
        position: relative;
    }
    img {
        width: 250px;
        height: 75px;
    }
}
/* transição da cor do botão quando passar o mouse por cima */
.btn:hover {
    background-color: #bebebe;
    transition: 0.5s;
}
/* posição do botão na tela */
form .btn {
    margin-top: 1.5em;
}