@import url('https://fonts.cdnfonts.com/css/averta-blackitalic');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* posição e formato do logo MRV na tela */
img {
    height: 5em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 19%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* criação do degradê e definição da sua cor */
body{
    font-family: 'Averta-Regular', sans-serif;
    min-height: 100vh;
    background: linear-gradient(180deg, #ffb719 15%, rgba(255,255,255,1) 85%);
    display: flex;
    color: #4a4a4a;
    align-items: center;
    justify-content: center;
}

.register-card{
   width: 450px;
   padding: 3rem;
   border-radius: 10px;
   position: relative;
   margin-top: 1rem;
}


.register-card-logo{
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 200;
    color: #cecece;
    transition: all 0.5s ease;
    pointer-events: none;
}

/* Responsividade */

@media (max-width: 768px){
    body{
        padding: 2rem 0;
    }

    .register-card{
        width: 350px;
        padding: 2rem;
    }
    .register-card-container{
        width: 400px;
    }
}

/* posição e formato do botão "próximo" */
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #ffb719;
    color: #000;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    top: 6px;
    left: 1rem;
    margin-top: 20px;
    
  }
/* transição da cor do botão quando passar o mouse por cima */
.btn:hover {
    background-color: #bebebe;
    transition: 0.5s;
}
  form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
  }
/* posição do botão na tela */
  .form-field{
    text-align: center;
  }
/* criação de linha decorativa laranja */
  .block{
    width: 100%;
    height: 5px;
    background-color: #ffb719;

  }
/* deixando a caixa de texto transparente */
  #input{
    background: transparent;
    box-shadow: none;
  }