* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
/* dando orientações para o corpo da pagina, para qual altura ele deve obedecer e não colocando em pixel 
para poder manter a proporção em outras telas */
body {
    height: 100vh;
    background-color: white;
    background-position: center;
}

/* começando a dar isntruções para o cabeçalho, deixamos a posição fixa, para que quando ele descer ele consiga acompanhar a pagina */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 9%;
    /**FF8B22  df7716**/
    background: linear-gradient(45deg,#ffb719,#ffb719,#ff8b22);
    /* background: #fac107; */
    padding: 1px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    margin-bottom: 5%;

}
header ul{
    display: flex;
    justify-content: center;
}
header ul select{
    display: flex;
    margin-left: 2%;
    
}
/* instruções para que a logo fique de forma correta */
.logo {
    margin-left: 0%;
    height: 10%;
    width: 70%;
}

.divlogo{
    width: 12vw;
}
/*  terminando as instruções para que a logo fique de forma correta */


header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background: #f1bc8a;
    color: #ffffff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}


header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

/* posicionando o filtro com margins para ficar melhor posicionada */
.filter{
    margin-left: 6vw;
    margin-right: 4vw;
}

/* personalizando botões do cabeçalho para ficarem com a cor verde */
button{
    border: 1px solid #006B3F;
    background: #006B3F;
    width: 8vw;
    height: 7vh;
    cursor: pointer;
    margin-left: 1vw;
    color: #fff;
    border-radius: 4px;
}

/* botão ed cadastro personalizado na box dentro do body chamado cadastro */
.buttoncadastro{
    background-color: #000;
    margin-top: 3vh;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttoncadastro:hover{
    background-color: #c49122;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* personalizando a margin top  do botão login para ela alinhar com o resto da navbar */
.login{
    margin-top: 1vh;
}

/* personalizando o filtro para ficar melhor visualmente, colocando um fundo branco, com bordas arredondadas  */
.filter select{
    min-width: 10rem;
    background-color: #fff;
    border: 2px solid #d9dddb;
    border-radius: 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    padding: 0.25rem 1rem;
}
/* terminando as dar isntruções para o cabeçalho*/
/* mexendo na posição do titulo inicial para visualização de obras,  */
h1{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
/* instruções para a box no body */
/* definimos aqui a cor, e o tamanho que a box teria dentrodo body */
.box{
    width: 100% ;
    height: 70%;
    /* #353432 */
    background-color: #353432;
    display: flex;
    justify-content: center;

}

/* o block é a segunda box que esta dentro da primeira, aqui definimos a cor, a borda arredondada, os seus itens alinhados corretamente e uma margin
para melhor alinhamento e design da pagina, fazendo com que a box fique com um grau de 3d, acima da outra e dando uma sombra */
.block {
    width: 80%;
    height: 90%;
    background: #006B3F;
    border-radius: 8px;
    position: relative;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 9%;
    box-shadow: 10px;
}
/* ajustamos a imagem dentro da box block */
.block img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-top-left-radius: 0.5rem;

}

/* posicionamento do texto, fazendo com que ele fique 30 porcento acima da margem final do block box e 5 porcento a esquerda da margin final */
.block .text {
    position: absolute;
    bottom: 30%;
    left: 5%;
}

/* mexendo no titulo do block box, ajustando sua cor e a margem */
.block .text h2{
    color: white;
    margin-bottom: 10vh;
    margin-left: 7vw;
    transform: translateX(-20px);
    transition: transform 0.5s;
}
/* Colocando um alinhamento do texto a esquerda, com o tamanho de 45 porcento da block box e a sua cor como branca */
.block .text h3 {
    max-width: 45%;
    color: white;
    text-align: left;
    transform: translateX(-20px);
    transition: transform 0.5s;

}


/* começando a mexer no carrossel das imagens, ainda não esta pronto, porém está com algumas de suas definições */
.sectioncontainer {
    width: 50%;
    height: 90%;
    position: absolute;
    right: 2%;
    bottom: 1%;
}

.slider-wrapper {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* escondendo scrollbar IE and Edge */
	scrollbar-width: none; /* escondendo scrollbar Firefox */
}

/* escondendo scrollbar do Chrome, Safari e Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
    border-radius: 3%;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
/* terminando o carrossel */

/* começando a editar melhor a aparencia dos cards, aqui definimos o tamanho que o card ia ter, a cor de fundo, a sombra que ele teria
para ficar melhor visivelmente */
.card {
    width: 30%;
    height: 50vh;
    margin: 10px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* definimos o tamanho do cabeçalho do card */
.card-header {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

/* ajeitamos melhor a imagem dentro do cabeçalho */
.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}
/* definimos aqui a altura que teria o body do card, colocando um padding para que tudo fique melhor alinhado visualmente e uma font 
para melhor leitura */
.card-body {
    height: 70px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

/* aqui estamos definindo o tamanho da fonte da especialidade dentro do h3, exemplo: hidraulica */
.card-local {
    font-size: 20px;
    margin: 10px 1;
}

/* aqui estamos definindo o tamanho da fonte do titulo da obra dentro do h2, Canto dos Palmares */
.card-titulo {
    font-size: 20px;
    margin: 1px 0;
}

/* aqui estamos mexendo onde os cards estão guardados, dentro de um container, alinhando todos os itens dentro dele, no caso, os cards */
.container {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/* começando o footer */
/* colocando o tamanho do footer, a sua cor de fundo, e alinhando onde seus itens ficarão melhor posicionado, 
com o padding, justify content e display sendo flex */
footer{
    background-image: linear-gradient(45deg, #006B3F, #079D56);
    margin-top: 10vh;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 70px;
}

/* linha abaixo dos titulos, criando a altura, a largura e a cor da linha e o melhor posicionamento dela abaixo do titulo */
hr{
    width: 40%;
    height: 6px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

footer .sustentabilidade {
    position: absolute;
    top: 42%;
    left: 48.5%;
    width: 15% !important
}

/* alinhando as colunas ex: contato e imavbeis a venda e colocando as fonts com padrão de 20px dentro do seu respectivo tamanho */
footer div{
    text-align: left;
    font-size: 20px;
    padding: 5px;
    
}

/* ajustando as listas e as alinhando para a esquerda, colocando o tamanho da fonte e a cor como branca */
li{
    text-align: left;
    
    color: #fff;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
}

li a{
    color:#fff
}


footer li.listDesk {
    float: left;
    margin: 0 16px !important;
    width: 13%
}


footer .rodado {
    display: inline-block;
    transform: rotate(180deg);
    transition: all .3s ease-in-out
}


/* terminando footer */