<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal JavaScript</title>
    <link rel="stylesheet" href="../../public/css/modais.css" />
    <script src="../../modais/js/modais.js" defer></script>
  </head>



  <body>
    <h1>JavaScript Modal</h1>
    <button id="open-modal">Abrir</button>


    <div id="fade" class="hide"></div>
    <div id="modal" class="hide">
      <div class="modal-header">
        <h2>Você realmente deseja excluir essa obra?</h2>
      </div>
      <div class="botoes" id="botoes">
        <button class="botao-fechar" id="close-modal">NÃO</button>
        <button id="excluir-obra">SIM</button>
      </div>
    </div>
  </body>


  
</html>
