<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal JavaScript</title>
    <link rel="stylesheet" href="../../public/css/modaL-notificacoes.css" />
    <script src="../../public/js/modais.js" defer></script>
  </head>



  <body>
    <h1>JavaScript Modal</h1>
    <button id="open-modal">Abrir</button>


    <div id="fade" class="hide"></div>
    <div id="modal" class="hide">
      <div class="modal-header" id="close-modal"><img id="arrow" src="../modais/image/arrow.png"></div>
      
      <div id="sino"><img src="../modais/image/notificacoes.png"></div>
      
        <div class="body-content">
            <div class="borda-notificacoes">
                <h1>Novo serviço:</h1>
                <p>Encanamneto</p>
                <p>Região de Vila Belmiro</p>
                <br>
                <button id="olhar">Olhar</button>
            </div>
            <br>
            <div class="borda-notificacoes">
                <h1>Parabéns</h1>
                <p>Você foi selecionado para um novo serviço</p>
                <br>
                <button id="olhar">Olhar</button>
            </div>
        </div>



        

    </div>
  </body>
  
</html>