body {font-family: Arial, Helvetica, sans-serif;}

/* Estrutura do Modal (Tamanho, posição,cor do background e etc) */
.modal {
  display: hidden; 
  position: fixed; 
  z-index: 1; 
  padding-top: 70px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Estrutura do Modal Content (alinhamento, tamanho, rolagem e etc) */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 70%;
  height: 65%;
  overflow: scroll;
}

/* Posição do Botão de fechar e customização do cursos */
.close {
  float: left;
  cursor: pointer;
}

/*Estrutura da nav bar (tamahno, fonte etc) */
header{
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 10px;
}

/*Edição do "titulo"*/
p{
    text-align: center;
    font-size: 25px;
}

/*Estrutura dos cards (Borda, tamanho, cor e etc)*/
.card {
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

/*Ajuste do tamanho da imagem no card*/
.card-header{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

/*Ajuste da imagem dentro do card*/
.card-header img{
    min-width: 80%;
    width: auto;
    height: 80%;
}

/*Ajuste do texto dentro do card*/
.card-body {
    height: 70px;
    padding: 15px;
    text-align: left;
    font-family: sans-serif;
}

/*Ajuste dos icones dentro do card*/
.card-body img{
    height: 25px;
    text-align: right;
}

/*Ajuste da função dentro do card*/
.card-local {
    font-size: 20px;
    margin: 10px 0;
}

/*Ajuste local da obra dentro do card*/
.card-titulo {
    font-size: 20px;
    margin: 1px 0;
    text-align: left;
}

/*Ajuste dos cards dentro do modal*/
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
